@font-face {
    font-family: "王漢宗超明";
    src: url(wt005.ttf);
}
body{
	width:100%;
	
	z-index: 1;
	color:#e8d4a8;
	background-color: #5b5343;
	background-image: url(../images/bg.png);
	overflow-x:hidden;

	font-family: "王漢宗超明";
    font-size: 21px;
}

a {
	color:#e8d4a8;
	text-decoration:none;
}

.alignRight{
	text-align: right;
}
.alignCenter{
	text-align: center;
}

.footer{
	width: 100%;
	min-height:100px;
	left: 0px;
	bottom: 0px;
	/*background-color: #dcc796;*/
	z-index: 10;
	color:#dcc796;
	padding-bottom: 30px;
}
.footer .textContent{
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	overflow: hidden;
}

.footerfloat{
	padding-top: 15px;
	width:80%;
	height:100%;
	margin: 0 auto;
}


.footerHalf{
	width:25%;
	max-width:250px;
	float: left;
	padding-left: 15%;
	padding-right: 10%;
}

.footerHalf.right{

	padding-left: 10%;
	padding-right: 15%;
}


.footerHalf .footerItem{
	width:100%;
	min-width: 120px;
	height:30px;
	overflow: hidden;
	text-align: center;
	cursor:pointer;
}
.footerHalf .footerItem:hover{
	color: #fde6b4;
}


	
.footerHalf .footerItem.title{
	font-size: 20px;
	font-weight: 500;
}

